<div class="flex flex-col min-h-screen">
  <a class="skip-nav" href="#main-content">Skip to content</a>
  <app-navbar></app-navbar>
  <main id="main-content" class="flex-1 flex flex-col relative w-full" [@routeAnimation]="getRouteAnimationData()">
    <router-outlet></router-outlet>
  </main>
  <app-footer class="mt-auto block w-full"></app-footer>
</div>
<app-bottom-nav></app-bottom-nav>
<app-whats-new-modal></app-whats-new-modal>
<app-version-reload-pill></app-version-reload-pill>
<app-pwa-install-banner></app-pwa-install-banner>
<app-snackbar></app-snackbar>
<app-consent-banner></app-consent-banner>
<app-command-palette></app-command-palette>
<app-keyboard-shortcuts-modal></app-keyboard-shortcuts-modal>