# Dependencies
**/node_modules/
**/dist/
**/bin/
**/obj/
**/.angular/
**/.vs/
**/.vscode/

# Environment / Sensitive
**/.env
**/appsettings.Development.json
**/appsettings.json
!**/appsettings.json # Optional: Keep the template but remove secrets

# System Files
.DS_Store
Thumbs.db

# Docker
.docker/
mysql_data/
mongodb_data/

# Logs
**/logs/
*.log
npm-debug.log*

# Angular build artifacts
.editorconfig
.browserslistrc

backend/node/src/data/annotatedCentralActs/