.snackbar-container {
  pointer-events: none;
  opacity: 0;
  transform: translate(-50%, 20px);
}
.snackbar-container.show {
  pointer-events: auto;
  opacity: 1;
  transform: translate(-50%, 0);
}
.snackbar-container.hide {
  opacity: 0;
  transform: translate(-50%, 20px);
}
.snackbar {
  justify-content: space-between;
}
