:host {
  display: block;
  width: 100%;
}

input, button {
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.h-full {
  transition: width 0.5s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.3s ease;
}
